
div{
    text-align: center;
}
h1{
    font-size: 80px;
    font-family: Impact;
    font-weight: bold;
}
p{
    font-size: 35px;
}
button{
   width: 250px;
   height: 80px;
   background-color: blue;
   color: white;
   padding: 1px 6px;
}
button:hover{
    background-color: #008000;
}